<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ad.jspiner.admmspost" >



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserControlActivity"
            android:label="@string/title_activity_user_control"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInsertActivity"
            android:label="@string/title_activity_user_insert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdminInsertActivity"
            android:label="@string/title_activity_admin_insert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ADSetActivity"
            android:label="@string/title_activity_adset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdminControlActivity"
            android:label="@string/title_activity_admin_control" >
        </activity>
    </application>

</manifest>
